name: e2e-cli-template

on:
  workflow_dispatch:

jobs:
  e2e:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run E2E CLI template flow
        run: make e2e-ci-template
